{% extends 'base.html' %}

{% block title %} Medication Tracker {% endblock %}

{% block body %}
    Testing Homepage
    <!-- Link to About page-->
    <!-- Link to sign-up if not signed in -->
    <p>
      <a href="sign-up"> Sign up</a>
    </p>
    <!-- Form to Log in if not signed in.-->
    <!-- Button to log out-->
{% endblock %}

{% block js %}
	<!-- will eventually store jsx react link for homepage here:
    <script src="/static/js/homepage.jsx" type="text/jsx"></script> -->
{% endblock %}
